#Preparing XGBOOST data

This notebook provides a shortcut to the final data used in the XGBOOST notebook. It takes all the data from the 01-eda notebook and applies further preprocessing that occurs in the 04-xgboost notebook

In [2]:
#Importing libraries
import pandas as pd

In [3]:
#Loading data
df_ts = pd.read_csv("/Users/dan/PycharmProjects/Masterschool/TimeSeriesRetailForecast/data/prepared_ts_data.csv", parse_dates=["date"], index_col="date")

In [4]:
#Checking data
df_ts.head()

,store_nbr,item_nbr,unit_sales,onpromotion,unit_sales_log,is_outlier,year,month,day,day_of_week,unit_sales_7d_avg,is_holiday,dcoilwtico,family
date,,,,,,,,,,,,,,
2013-01-02,24,105574,12.0,0.0,2.564949,False,2013,1,2,2,NaN,0,93.14,GROCERY I
2013-01-03,24,105574,1.0,0.0,0.693147,False,2013,1,3,3,NaN,0,92.97,GROCERY I
2013-01-04,24,105574,3.0,0.0,1.386294,False,2013,1,4,4,NaN,0,93.12,GROCERY I
2013-01-05,24,105574,4.0,0.0,1.609438,False,2013,1,5,5,NaN,0,93.12,GROCERY I
2013-01-06,24,105574,7.0,0.0,2.079442,False,2013,1,6,6,NaN,0,93.12,GROCERY I

In [5]:
#Checking data types
df_ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35069356 entries, 2013-01-02 to 2017-08-15
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   store_nbr          int64
 1   item_nbr           int64
 2   unit_sales         float64
 3   onpromotion        float64
 4   unit_sales_log     float64
 5   is_outlier         bool
 6   year               int64
 7   month              int64
 8   day                int64
 9   day_of_week        int64
 10  unit_sales_7d_avg  float64
 11  is_holiday         int64
 12  dcoilwtico         float64
 13  family             object
dtypes: bool(1), float64(5), int64(7), object(1)
memory usage: 3.7+ GB

In [6]:
#Dropping nulls as they represent the first 6 days in the data
df_ts = df_ts.dropna(subset=['unit_sales_7d_avg'])

In [7]:
#Creating lag features based on acf and pacf to help predict unit sales using past data
df_ts["lag_1"] = df_ts["unit_sales"].shift(1)
df_ts["lag_6"] = df_ts["unit_sales"].shift(6)
df_ts["lag_7"] = df_ts["unit_sales"].shift(7)
df_ts["lag_8"] = df_ts["unit_sales"].shift(8)
df_ts["lag_14"] = df_ts["unit_sales"].shift(14)

In [8]:
#Creating rolling standard deviation
df_ts["unit_sales_7d_std"] = df_ts["unit_sales"].rolling(window=7).std()

In [9]:
#Dropping any nulls created fom new features
df_ts.dropna(inplace=True)

In [10]:
df_ts.head()

,store_nbr,item_nbr,unit_sales,onpromotion,unit_sales_log,is_outlier,year,month,day,day_of_week,unit_sales_7d_avg,is_holiday,dcoilwtico,family,lag_1,lag_6,lag_7,lag_8,lag_14,unit_sales_7d_std
date,,,,,,,,,,,,,,,,,,,,
2013-01-22,24,105574,2.0,0.0,1.098612,False,2013,1,22,1,6.857143,0,96.09,GROCERY I,4.0,19.0,3.0,2.0,3.0,5.756983
2013-01-23,24,105574,3.0,0.0,1.386294,False,2013,1,23,2,4.571429,0,95.06,GROCERY I,2.0,7.0,19.0,3.0,7.0,2.225395
2013-01-25,24,105574,3.0,0.0,1.386294,False,2013,1,25,4,3.285714,0,95.15,GROCERY I,3.0,5.0,8.0,7.0,6.0,0.951190
2013-01-26,24,105574,5.0,0.0,1.791759,False,2013,1,26,5,3.285714,0,95.15,GROCERY I,3.0,3.0,5.0,8.0,7.0,0.951190
2013-01-27,24,105574,8.0,0.0,2.197225,False,2013,1,27,6,4.000000,0,95.15,GROCERY I,5.0,4.0,3.0,5.0,1.0,2.000000

In [11]:
#Saving the data to use in our final model
df_ts.to_csv("/Users/dan/PycharmProjects/Masterschool/TimeSeriesRetailForecast/data/prepared_app_data.csv")

In [12]:
#Double-checking data types
df_ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14715758 entries, 2013-01-22 to 2017-08-15
Data columns (total 20 columns):
 #   Column             Dtype
---  ------             -----
 0   store_nbr          int64
 1   item_nbr           int64
 2   unit_sales         float64
 3   onpromotion        float64
 4   unit_sales_log     float64
 5   is_outlier         bool
 6   year               int64
 7   month              int64
 8   day                int64
 9   day_of_week        int64
 10  unit_sales_7d_avg  float64
 11  is_holiday         int64
 12  dcoilwtico         float64
 13  family             object
 14  lag_1              float64
 15  lag_6              float64
 16  lag_7              float64
 17  lag_8              float64
 18  lag_14             float64
 19  unit_sales_7d_std  float64
dtypes: bool(1), float64(11), int64(7), object(1)
memory usage: 2.2+ GB